{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.assignments %}
  <div class="item">
    <span class="project-title">
      {{ project.title }}
    </span>

    {% if project.tagline %}
    <p class="project-tagline">{{ project.tagline }}</p>
    {% endif %}

    {% if project.video %}
    <div class="video-container" style="margin-top: 10px;">
      <iframe width="560" height="315" src="{{ project.video }}" frameborder="0" allowfullscreen></iframe>
    </div>
    {% endif %}

    {% if project.repo %}
    <p><a href="{{ project.repo }}" target="_blank">View Code on GitHub</a></p>
    {% endif %}
  </div><!--//item-->
{% endfor %}

</section><!--//section-->
{% endif %}
